<%- include(`${partials}/root-layout-header`) %>
<%- include(`${partials}/navbar`) %>
<div class="fluid-container d-flex chat-page-container">
    <aside class="events">
        <%
        events.forEach(event => {
            const lastMessage = event.chat.messages.pop()
        %>

        <div class="event" data-url="/chats/event/<%= event._id %>">
            <header class="title">
                <h6><%= event.title %></h6>
            </header>
            <div class="last-message d-flex align-items-end">
                <% if (lastMessage) { %>
                    <div class="w-100">
                        <span class="sender"><%= lastMessage.sender.firstName %> <%= lastMessage.sender.lastName %>: </span>
                        <span class="message"><%= lastMessage.message %></span>
                    </div>
                    <time class="time">
                        <%=
                            new Date(lastMessage.createdAt).toLocaleTimeString('uk', {
                                hour: '2-digit',
                                minute: '2-digit'
                            })
                        %>
                    </time>
                <% } else { %>
                    <span>Повідомлення поки що відсутні</span>
                <% } %>
            </div>
        </div>
        <% }) %>
    </aside>
    <main class="chat">
        <header class="chat-header">
            <h2><%= title %></h2>
        </header>
        <div class="chat-container">
            <div class="messages">
                <%
                event.chat.messages.reverse().forEach((message, index) => {
                    let profileImagePath;
                    if (message.sender.profilePicture !== 'default-user-image.jpg')
                        profileImagePath = `/uploads/images/users/${message.sender.profilePicture}`
                    else
                        profileImagePath = `/images/${message.sender.profilePicture}`

                    const currentMessageDate = message.createdAt
                    const previousMessageDate = index < event.chat.messages.length - 1 ? event.chat.messages[index + 1].createdAt : currentMessageDate
                    const nextMessageDate = index > 0 ? event.chat.messages[index - 1].createdAt : currentMessageDate

                    const sameSenderBefore = !((index > 0 && message.sender._id.toString() !== event.chat.messages[index - 1].sender._id.toString()) || index === 0)
                    const sameSenderAfter = !((index < event.chat.messages.length - 1 && message.sender._id.toString() !== event.chat.messages[index + 1].sender._id.toString()) || index === event.chat.messages.length - 1)

                    let dateFormatterOptions = { weekday: 'long', month: 'long', day: 'numeric' }

                    if (currentMessageDate.getFullYear() !== new Date().getFullYear()) {
                        dateFormatterOptions = { ...dateFormatterOptions, year: 'numeric' }
                    }

                    const dateFormatter = new Intl.DateTimeFormat('uk', dateFormatterOptions)

                    const isNewMessageDate = currentMessageDate.getDate() !== previousMessageDate.getDate()
                        || currentMessageDate.getMonth() !== previousMessageDate.getMonth()
                        || currentMessageDate.getFullYear() !== previousMessageDate.getFullYear()

                    const isNextMessageNewDate = currentMessageDate.getDate() !== nextMessageDate.getDate()
                        || currentMessageDate.getMonth() !== nextMessageDate.getMonth()
                        || currentMessageDate.getFullYear() !== nextMessageDate.getFullYear()
                %>
                    <div class="message-container<%= message.sender._id.toString() === authenticatedUser._id.toString() ? ' my-message' : '' %>">
                        <div class="profile-image">
                            <% if (!sameSenderBefore || isNextMessageNewDate) { %>
                                <a href="/users/<%= message.sender._id %>">
                                    <img src="<%= profileImagePath %>" alt="User profile photo">
                                </a>
                            <% } %>
                        </div>
                        <div class="message">
                            <% if (!sameSenderAfter || isNewMessageDate) { %>
                                <header>
                                    <span class="sender">
                                        <%= message.sender.firstName %> <%= message.sender.lastName %>
                                    </span>
                                </header>
                            <% } %>
                            <div class="content">
                                <%= `${message.message}` %>
                                <span class="time-space"></span>
                            </div>
                            <footer>
                                <div class="time">
                                    <time>
                                        <%=
                                            message.createdAt.toLocaleTimeString('uk', {
                                                hour: '2-digit',
                                                minute: '2-digit'
                                            })
                                        %>
                                    </time>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <% if (isNewMessageDate) { %>
                        <div class="date-delimiter">
                            <span><%= dateFormatter.format(currentMessageDate) %></span>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        <footer class="chat-footer">
            <div class="send-message-form-container">
                <form id="send-message-form" class="form w-100">
                    <div class="form-content">
                        <div class="form-group col-12">
                            <div class="form-item col-12">
                                <label class="w-100">
                                    <input type="text" placeholder="Повідомлення" name="message" id="message">
                                </label>
                                <input type="submit" class="button button-persian-indigo" value="Надіслати">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </footer>
    </main>
</div>
<%- include(`${partials}/root-layout-footer`) %>