<%- include(`${partials}/root-layout-header`) %>
<%- include(`${partials}/navbar`) %>

<div class="container user-profile-page">
    <div class="user-profile-container">
        <div class="user-container">
            <div class="user-picture">
                <img src="/uploads/images/users/<%= authenticatedUser.profilePicture %>" alt="profile picture" onerror="this.src='/images/default-user-image.jpg'; this.onerror='';">
            </div>
            <div class="user-info">
                <p class="user-name"><%= `${authenticatedUser.firstName} ${authenticatedUser.lastName}` %></p>
                <div class="profile-items">
                    <p class="profile-item col-12 col-md-6 col-lg-4">
                        <span class="label">Електронна пошта:</span>
                        <span class="value"><%= authenticatedUser.email %></span>
                    </p>
                    <p class="profile-item col-12 col-md-6 col-lg-4">
                        <span class="label">Дата народження:</span>
                        <span class="value"><%= new Date(authenticatedUser.dateOfBirth).toLocaleDateString() %></span>
                    </p>
                    <p class="profile-item col-12 col-md-6 col-lg-4">
                        <span class="label">Місце проживання:</span>
                        <span class="value">
                            <%
                            let location
                            if (authenticatedUser.location && authenticatedUser.location.trim() !== '')
                                location = authenticatedUser.location
                            else
                                location = 'Не вказано'
                            %>
                            <%= location %>
                        </span>
                    </p>
                    <p class="profile-item col-12">
                        <span class="label">Біографія:</span>
                        <span class="value">
                            <%
                                let bio
                                if (authenticatedUser.bio && authenticatedUser.bio.trim() !== '')
                                    bio = authenticatedUser.bio.slice(0, 256)
                                else
                                    bio = 'Не вказано'
                            %>
                            <%= bio %>
                        </span>
                    </p>
                    <div class="profile-item user-buttons col-12 d-flex flex-wrap">
                        <div class="col-6">
                            <a class="button button-persian-indigo edit-user" href="/profile/edit">Редагувати профіль</a>
                        </div>
                        <div class="col-6">
                            <a class="button button-periwinkle edit-user" href="/events/create">Створити подію</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-events row">
        <% events.forEach(event => { %>
            <div class="col-12 col-md-6 col-xl-4 user-activity-container">
                <div class="user-activity">
                    <div class="user-activity-header">
                        <div class="col-12 user-activity-img">
                            <img src="/uploads/images/events/<%= event.image %>" alt="Event image" onerror="this.src='/images/default-event-image.jpg'; this.onerror='';">
                        </div>
                        <div class="user-activity-name-row">
                            <h4 class="user-activity-name"><%= event.title %></h4>
                            <%
                                const startsOn = new Date(event.startsOn).toLocaleString('uk', {
                                    day: 'numeric',
                                    month: 'numeric',
                                    year: 'numeric',
                                    hour: '2-digit',
                                    minute: '2-digit'
                                })

                            const endsOn = new Date(event.endsOn).toLocaleString('uk', {
                                day: 'numeric',
                                month: 'numeric',
                                year: 'numeric',
                                hour: '2-digit',
                                minute: '2-digit'
                            })
                            %>
                            <p class="date-range"><%= `${startsOn} - ${endsOn}` %></p>
                        </div>
                    </div>
                    <div class="user-activity-content">
                        <div class="col-12 d-flex user-activity-row">
                            <div class="col-4">
                                <i class="fa-regular fa-clock fa-2xl"></i>
                                <%
                                    const timeDifference = Math.abs(new Date(event.startsOn).getTime() - new Date(event.endsOn).getTime())
                                    let duration
                                    if (timeDifference < 1000) {
                                        duration = `${Math.ceil(timeDifference)} milliseconds`
                                    } else if (timeDifference < 60 * 1000) {
                                        duration = `${Math.ceil(timeDifference / 1000)} seconds`
                                    } else if (timeDifference < 60 * 60 * 1000) {
                                        duration = `${Math.ceil(timeDifference / (60 * 1000))} minutes`
                                    } else if (timeDifference < 24 * 60 * 60 * 1000) {
                                        duration = `${Math.ceil(timeDifference / (60 * 60 * 1000))} hours`
                                    } else if (timeDifference < 7 * 24 * 60 * 60 * 1000) {
                                        duration = `${Math.ceil(timeDifference / (24 * 60 * 60 * 1000))} days`
                                    } else if (timeDifference < 365 * 24 * 60 * 60 * 1000) {
                                        duration = `${Math.ceil(timeDifference / (7 * 24 * 60 * 60 * 1000))} weeks`
                                    } else {
                                        duration = `${Math.ceil(timeDifference / (365 * 24 * 60 * 60 * 1000))} years`
                                    }
                                %>
                                <p>~<%= duration %></p>
                            </div>
                            <div class="col-4">
                                <i class="fa-solid fa-earth-americas fa-2xl"></i>
                                <p><%= event.location %></p>
                            </div>
                            <div class="col-4">
                                <i class="fa-solid fa-people-group fa-2xl"></i>
                                <p><%= event.participants.length %> joined</p>
                            </div>
                        </div>
                        <div class="buttons col-12 d-flex flex-wrap">
                            <div class="col-12">
                                <a class="button button-periwinkle" href="/events/<%= event._id %>">Детальніше</a>
                            </div>
                            <div class="col-6">
                                <a class="button button-persian-indigo" href="/events/edit/<%= event._id %>">Редагувати</a>
                            </div>
                            <div class="col-6">
                                <a class="button button-ut-orange delete-event" data-id="<%= event._id %>">Видалити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include(`${partials}/root-layout-footer`) %>