<%- include(`${partials}/root-layout-header`) %>
<%- include(`${partials}/navbar`) %>

<div class="fluid-container events-page">
    <div class="sidebar-activities">
        <form method="GET" action="/events" class="form event-filters-form">
            <div class="form-header">
                <h5>Фільтри</h5>
            </div>
            <div class="form-content">
                <div class="form-group col-12 flex-wrap">
                    <div class="form-item col-12 flex-wrap">
                        <label for="starts-on" ><i class="fa-solid fa-calendar fa-xl"></i>Початок не раніше ніж:</label>
                        <input type="datetime-local" id="starts-on" name="startsOn" value="<%= filters.startsOn %>">
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="ends-on"><i class="fa-solid fa-clock fa-xl"></i>Кінець не пізніше ніж:</label>
                        <input type="datetime-local" id="ends-on" name="endsOn" value="<%= filters.endsOn %>">
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="country"><i class="fa-solid fa-globe fa-xl"></i>Країна</label>
                        <input type="text" id="country" name="country" value="<%= filters.country %>">
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="city"><i class="fa-solid fa-location-dot fa-xl"></i>Місто</label>
                        <input type="text" id="city" name="city" value="<%= filters.city %>">
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" value="Пошук" class="button button-persian-indigo">
            </div>
            <div class="mt-2">
                <a class="button button-ut-orange w-100 text-center justify-content-center hide-filters">Сховати</a>
            </div>
        </form>
    </div>
    <div class="show-filters">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
            </svg>
        </span>
    </div>
    <div class="main-activities">
        <div class="row align-items-center justify-content-center">
            <div class="col-1 button-col btn-heart">
                <i id="join-request" class="fa-solid fa-heart fa-2xl event-button"></i>
            </div>
            <div class="col-10 col-xl-8 activity-wrapper">
                <div class="activity">
                    <div class="col-12 p-0 justify-content-around">
                        <div class="activity-img">
                            <img id="event-img" src="" alt="event picture" onerror="this.src='/images/default-event-image.jpg'; this.onerror='';">
                        </div>
                    </div>
                    <div class="title">
                        <h2 id="title">--------------</h2>
                        <p class="date-range">01.01.01, 00:00 - 01.01.01, 00:00</p>
                    </div>
                    <div class="organizer mb-2">
                        <a class="link" id="organizer">---------- ----------</a>
                    </div>
                    <div class="col-12 p-0 description">
                        <p id="description"></p>
                    </div>
                    <div class="col-12 d-flex activity-icons-row">
                        <div class="col-4">
                            <i class="fa-regular fa-clock fa-2xl"></i>
                            <p id="duration">~1 day</p>
                        </div>
                        <div class="col-4">
                            <i class="fa-solid fa-earth-americas fa-2xl"></i>
                            <p id="location">Location</p>
                        </div>
                        <div class="col-4">
                            <i class="fa-solid fa-people-group fa-2xl"></i>
                            <p id="participants">0 joined</p>
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <a id="details-button" class="button button-periwinkle d-inline-flex w-100 justify-content-center">Детальніше</a>
                    </div>
                </div>
            </div>
            <div class="col-1 button-col btn-x">
                <i id="skip" class="fa-solid fa-circle-xmark fa-2xl event-button"></i>
            </div>
        </div>
    </div>
</div>
<%- include(`${partials}/root-layout-footer`) %>